@import '../../stylesheets/colors';

.view-template-aside{
  display: flex;
  flex-direction: column;
  .btn{
    border-radius: 30px;
  }
  .template-aside-container{
    margin-top: 1em;
    h4{
      margin-bottom: 1em;
    }
    padding: 0.5em 1em;
    border: 1px solid $white-darker;
    .template-tag-section{
      border-top: 2px solid $white-darker;
      padding: 1em 0;
      .tag-button{
        background-color: $white;
        border-radius: 30px;
        padding: 6px 12px;
        text-align: center;
        display: inline-block;
        border: 2px solid $white-lighter;
      }
    }
    .related-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5em 0;
      .related-image{
        max-height: 50px;
        padding: 0;
        text-align: center;
        img{
          max-width: 100%;
          max-height: 50px;
          margin: auto;
        }
      }
      .related-text p{
        margin: 0;
      }
    }
  }
}
