@import '../../../stylesheets/colors';

.static-about{
  .jumbotron{
    background: $grey-lighter url("/Background_about.jpg") no-repeat center;
    background-size: cover;
    color: $grey-darker;
    .overlay{
      background-color: rgba(255,255,255,.4);
    }
  }
  #our_team{
    margin-top: 30px;
    color: $white-lighter;
    background-color: $grey-darker;
    padding: 1em;
    .row{
      padding: 1em;
      align-items: center;
      img{
        max-height: 200px;
      }
    }
  }
  #partners_members{
    margin: 0;
    color: $grey-darker;
    background-color: $white;
    padding: 30px 1em;
    h3{
      margin-top: 0;
    }
    img{
      max-height: 100px;
    }
  }
}
