@import '../../stylesheets/colors';

.searchblock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .caption{
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
  }

  .glyphicon{
    font-size: 3em;
  }

  .advance-search{
    width: 100%;
    text-align: center;
    padding: 2em;
  }
  .advance-search.open{
    color: $white-lighter;
    background-color: $grey;
  }
  .tag-panel{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .tag-panel.hidden{
    display: none;
  }
}
