@import '../../stylesheets/colors';

.searchblock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .caption{
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
  }

  .glyphicon{
    font-size: 3em;
    transition: transform 0.25s ease-in-out;
  }

  .advance-search{
    width: 100%;
    text-align: center;
    padding: 2em;
    transition: all 0.5s ease-in-out;
  }
  .advance-search.open{
    color: $white-lighter;
    background-color: $grey;
    .glyphicon{
      transform: rotate(180deg);
    }
  }
  .tag-panel{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
  .tag-panel.minimize{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-11em);
  }
  .advance-search-toggle{
    display: inline-block;
    transition: all .25s ease-in-out;
  }
  .advance-search-toggle:hover{
    color: $secondary;
    animation: bounce 2.3s 1;
    cursor: pointer;
    cursor: hand;
  }
}
