@import '../../stylesheets/colors';

.report-panel-governance{
  .report-section{
    .report-row{
      .fact-wrapper{
        width: 48%;
        margin: 0.5em;
        display: flex;
        align-items: stretch;
      }
      .fact-container{
        min-height: 100px;
      }
    }
  }
}
