@import '../../stylesheets/colors';

.report-badge-image{
  height: 60px;
  width: auto;
  border: 1px $white-darker solid;
  margin-right: 1em;
  text-align: center;
  img{
    max-height: 100%;
    width: auto;
    margin: auto;
  }
}
