@import '../../stylesheets/colors';

.report-panel{
  margin: 2em -10px 0.5em -15px;
  .nav.nav-tabs{
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    overflow: scroll;
    li{
      margin-top: 5px;
      a{
        height: 100%;
        padding: 10px 10px;
        color: $grey;
        background: $white;
        font-size: 0.8em;
      }
      a:hover{
        color: $secondary;
      }
    }
    li.active{
      a{
        color: $white-lighter;
        background: $secondary;
      }
    }
  }
  .tab-content{
    .active{
      border: 1px solid $white-darker;
    }
    .report-section{
      margin-bottom: 2em;
      .text-left{
        text-align: left;
      }
      .row{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 1em;
      }
    }
    .opinion-box{
      background-color: $quaternary-pale;
      padding: 1em;
    }
    .blue-box{
      background-color: $primary-pale;
      border: 5px solid $white-lighter;
     }

    .fact-container{
      text-align: center;
      border: 1px solid $secondary;
      flex-grow: 1;
      padding: 0.5em;
      margin: 0.5em 0;
    }
  }
}
