@import '../../stylesheets/colors';

.report-panel{
  margin-top: 2em;
  margin-bottom: 2em;
  .nav.nav-tabs{
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    overflow: scroll;
    li{
      margin-top: 5px;
      a{
        height: 100%;
        padding: 10px 10px;
        color: $grey;
        background: $white;
        font-size: 0.8em;
      }
      a:hover{
        color: $secondary-darker;
        font-size: 1em;
        font-weight: bold;
      }
    }
    li.active{
      a{
        color: $white-lighter;
        background: $secondary;
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
  .tab-content{
    .active{
      // height: 700px;
      // width: 800px;
      border: 1px solid $white-darker;
      // padding: 1em;
      // overflow: auto;
      // display: flex;
      // flex-direction: column;
    }
    .report-section{
  //     display: flex;
  //     flex-direction: column;
      margin-bottom: 2em;
      .text-left{
        text-align: left;
      }
      .row{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 1em;
  //       flex-direction: row;
  //       margin: 1em 0;
  //       .key-figure.glyphicon.glyphicon-ok{
  //         display: inline-flex;
  //         align-items: center;
  //         font-size: 1.5em;
  //       }
      }
    }
    .opinion-box{
      background-color: $quaternary-pale;
      padding: 1em;
    }
    .blue-box{
      background-color: $primary-pale;
      border: 5px solid $white-lighter;
     }

    .fact-container{
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
      text-align: center;
      border: 1px solid $secondary;
  //     min-height: 240px;
  //     min-width: 130px;
  //     margin: 0.5em;
      flex-grow: 1;
      padding: 0.5em;
      margin: 0.5em 0;
    }
  }
}
