.report-view{
  display: flex;
  flex-direction: column;
  .view-template-header{
    width: 100%;
  }
  .report-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    .report-panel{
      display: flex;
      flex-grow: 2;
      width: 800px;
      min-height: 700px;
      max-height: 900px;
    }
    .view-template-aside{
      flex-grow: 1;
      display: flex;
      width: 300px;
    }
  }
}
