.report-view{
  display: flex;
  flex-direction: column;
  .report-header{
    width: 100%;
  }
  .report-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    .report-panel{
      display: flex;
      min-width: 640px;
      min-height: 700px;
    }
    .report-aside{
      display: flex;
      width: 300px;
    }
  }
}
