@import '../../../stylesheets/colors';

.static-impact{
  .jumbotron{
    background: $grey-lighter url("/Background_impact.jpg") no-repeat center;
    background-size: cover;
    color: $white;
    .overlay{
      background-color: rgba(0,0,0,.3);
    }
  }
  .container{
    padding: 30px 15px;
    .row{
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  #services{
    color: $grey;
  }
  #work{
    background-color: $grey;
    color: $white;
    .row{
      align-items: center;
    }
  }
  #clients{
    color: $white-darker;
    color: $grey-darker;
  }

}
