@import '../../../stylesheets/colors';

.static-impact{
  .jumbotron{
    background: $grey-lighter url("/Background_impact.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    text-align: center;
    color: $white;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    position: relative;
    .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,.4);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .container{
    padding: 30px 15px;
    .row{
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  #services{
    color: $grey;
  }
  #work{
    background-color: $grey;
    color: $white;
  }
  #clients{
    color: $white-darker;
    color: $grey-darker;
  }

}
