@import '../../stylesheets/colors';

.report-panel-reputation{
  .report-section{
    .report-row{
      .text-beside{
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
    }
  }
}
