@import '../../stylesheets/mixins';

.Content {
  p {
    margin-bottom: 20px;
  }

  > *:first-child {
    margin-top: 0px;
  }

  > *:last-child {
    margin-bottom: 0px;
  }
}

.article-as-image{
  max-width: 300px;
  max-height: 300px;
}
