@import '../../stylesheets/colors';

.report_wrapper{
  margin-bottom: 1em;
  .report_card{
    position: relative;
    border: solid 2px;
    border-radius: 25px;
    padding: 2em 1em;
    text-align: center;
    overflow: hidden;
    .report_detail_level{
      position: absolute;
      top: 30px;
      right: -30px;
      width: 140px;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      color: $white-lighter;
      z-index: 10;
      border: solid 1px $white-lighter;
    }
    p {
      text-align: justify;
    }
  }
  .report_card.long{
    border-color: $primary;
  }
  .report_card.mid-length{
    border-color: $secondary;
  }
  .report_card.short{
    border-color: $tertiary;
  }
  .report_detail_level.long {
    background-color: $primary;
  }
  .report_detail_level.mid-length {
    background-color: $secondary;
  }
  .report_detail_level.short {
    background-color: $tertiary;
  }
}
