@import '../../stylesheets/colors';

.tag-checklist{
  background: $white-lighter;
  color: $grey;
  text-align: left;
  flex: 1 0 auto;
}
.advance-search.open .tag-checklist{
  border: 5px solid $grey;
}
