$primary: #002060;
$primary-darker: darken($primary, 10%);
$primary-lighter: lighten($primary, 20%);
$primary-pale: lighten($primary, 60%);

$secondary: #00B050;
$secondary-darker: darken($secondary, 20%);
$secondary-lighter: lighten($secondary, 20%);
$secondary-pale: lighten($secondary, 50%);

$tertiary: #0AB8C7;
$tertiary-darker: darken($tertiary, 20%);
$tertiary-lighter: lighten($tertiary, 20%);
$tertiary-pale: lighten($tertiary, 45%);

$quaternary: #FFC000;
$quaternary-darker: darken($quaternary, 20%);
$quaternary-lighter: lighten($quaternary, 20%);
$quaternary-pale: lighten($quaternary, 40%);

$grey: #2b2b2b;
$grey-darker: darken($grey, 10%);
$grey-lighter: lighten($grey, 10%);

$white: #d7d7d7;
$white-darker: darken($white, 20%);
$white-lighter: lighten($white, 20%);

// mapping into existing colours used by templates
$success: $secondary;
$info:    $tertiary;
$warning: $quaternary;
$danger:  #d9534f;

$gray-darker: $grey-darker;
$gray-dark: $grey;
$gray: $grey-lighter;
$gray-light: $white-darker;
$gray-lighter: $white;

$facebook: #3b5998;
$google: #ea4335;
$github: $gray-dark;

$cb-blue: #4285F4;
$cb-green: #00D490;
$cb-yellow: #FFCF50;
$cb-red: #DA5847;
