.thumbnail_custom{
  img {
    max-height: 100px;
    max-width: 250px;
    width: auto;
  }
}

.article_image{
  img {
    max-width: 1000px;
  }
}

.key-figure{
  text-align: center;
  color: $secondary;
  font-weight: bold;
  font-size: 1.3em;
}

.flex{
  display: flex;
}
